<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <style>

    </style>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>this is created using mapbox and darksky.net api</p>
        <img src="/images/image2.jpg" class="potrait" />
    </div>

    {{>footer}}
</body>

</html>